<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656893750954-3hvofsjsgpokmb9q699eeu66igao73o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656893750954-3hvofsjsgpokmb9q699eeu66igao73o7</string>
	<key>API_KEY</key>
	<string>AIzaSyAxuzsOtxY1WBQa_AxhTgcT6Avc5BWyEgA</string>
	<key>GCM_SENDER_ID</key>
	<string>656893750954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reconogps.app</string>
	<key>PROJECT_ID</key>
	<string>monitoring-app-7a019</string>
	<key>STORAGE_BUCKET</key>
	<string>monitoring-app-7a019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656893750954:ios:7aeed76d5f7d5c297a2ad3</string>
	<key>DATABASE_URL</key>
	<string>https://monitoring-app-7a019.firebaseio.com</string>
</dict>
</plist>